deep-translator
pandas
numpy
matplotlib
langchain
langchain-core
langchain-google-vertexai
langchain-community
langchain-text-splitters
geopy
scikit-learn
joblib
newspaper3k
lxml_html_clean
selenium
google-cloud-translate
google-cloud-bigquery
sentence-transformers
geonamescache
faiss-cpu==1.8.0

